<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default("Default Title") }}</title>
  {% if cssPath %}
    <link rel="stylesheet" href="{{ cssPath }}">
  {% else %}
    <script>console.log("No cssPath provided");</script>
  {% endif %}
  {% if jsPath %}
    <script src="{{ jsPath }}" defer></script>
  {% else %}
    <script>console.log("No jsPath provided");</script>
  {% endif %}  
</head>
<body>
  <header>
    {% include "header.njk" %}
  </header>

  <main>
    <h1>{{title}}</h1>
  {% block content %}{% endblock %}
  </main>
</body>
</html>
