[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "1.23.26" # Pinned in dependabot
pyyaml = "6.0.2"

[dev-packages]
black = "25.1.0"

[requires]
python_version = "3.12"
