---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.collections-note {
    color: grey;
    @include relative-font-size(0.875);
}

.collections-note a {
    color: grey;
    text-decoration: underline;
}