---
layout: page
title: Too Good to Go Log
---

{% for purchase in site.data.toogoodtogo %}
  {% if purchase.hidden == false %}
    <h2>{{ purchase.store_name }} on {{ purchase.date }}</h2>
    <div style="text-align:center;">
      <img src="/assets/toogoodtogo/{{ purchase.image }}" alt="{{ purchase.store_name }} on {{ purchase.date }}" width="500" />
    </div>
    <div><strong>Cost:</strong> {{ purchase.total.amount }} {{ purchase.total.currency }}</div>
    {% if purchase.description %}
      <div><strong>Description:</strong>
        <ul style="margin-bottom: 0;">
          {% for row in purchase.description %}
            <li>{{ row }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if purchase.notes %}
      <div><strong>Notes:</strong> {{ purchase.notes }}</div>
    {% endif %}
    <hr>
  {% endif %}
{% endfor %}
