{% assign sorted_pages = site.pages | sort: 'title' %}
{% assign do_no_show_paths = site.do_no_show_paths %}

{{ do_no_show_paths | inspect }}

<ul>

<!-- Adding sub domain URLs passed in -->
{% for domain_url in page.sub_domains %}
  {% assign domain_name = domain_url | replace: 'https://', '' | remove: '/' %}
  <li>
    <a href="{{ domain_url }}">{{ domain_name }}</a>
  </li>
{% endfor %}

{% for page in sorted_pages %}
  {{ do_no_show_paths contains page.path }}
  {% unless do_no_show_paths contains page.path %}
  {% else %}
  {% if page.title %}
    <li>
      <a href="{{ page.url }}">{{ page.path: }}</a>
    </li>
  {% endif %}
  {% endunless %}
{% endfor %}
{% for page in sorted_pages %}
  {% unless do_no_show_paths contains page.path %}
  {% unless page.title %}
    <li>
      <a href="{{ page.url }}">{{ page.path }}</a>
    </li>
  {% endunless %}
  {% endunless %}
{% endfor %}

</ul> 
