{% assign sorted_pages = site.pages | sort: 'title' %}
{% assign do_no_show_paths = page.do_no_show_paths | default: [] %}

{{ do_no_show_paths | inspect }}
<br>
{{ page | inspect }}


<ul>

<!-- Adding sub domain URLs passed in -->
{% for domain_url in page.sub_domains %}
  {% assign domain_name = domain_url | replace: 'https://', '' | remove: '/' %}
  <li>
    <a href="{{ domain_url }}">{{ domain_name }}</a>
  </li>
{% endfor %}

<!-- Loop through sorted pages -->
{% for page in sorted_pages %}
  {% unless do_no_show_paths contains page.path %}
    {% if page.title %}
      <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}

<!-- Loop through pages without titles -->
{% for page in sorted_pages %}
  {% unless do_no_show_paths contains page.path %}
    {% unless page.title %}
      <li>
        <a href="{{ page.url }}">{{ page.path }}</a>
      </li>
    {% endunless %}
  {% endunless %}
{% endfor %}

</ul>
