{% assign sorted_pages = site.pages | sort: 'title' %}

<ul>
{% for page in sorted_pages %}
  {% if page.title %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
  {% endif %}
{% endfor %}
{% for page in sorted_pages %}
  {% unless page.title %}
    <li>
      <a href="{{ page.url }}">{{ page.path }}</a>
    </li>
  {% endunless %}
{% endfor %}
<!-- Adding sub domain URLs passed in -->
{% for domain_url in page.sub_domains %}
  {% assign domain_name = domain_url | replace: 'https://', '' | remove: '/' %}
  <li>
    <a href="{{ domain_url }}">{{ domain_name }}</a>
  </li>
{% endfor %}
</ul>
