{% if include.src %}
    {% assign image_src = include.src %}
{% else %}
    {% assign directory = page.permalink | default: page.url %}
    {% assign image_src = "/assets/" | append: directory | append: "/" | append: include.name %}
{% endif %}

<div class="image-container">
    <img src="{{ image_src }}"
         alt="{{ include.alt }}"
         {% if include.width %}width="{{ include.width }}"{% endif %}
         {% if include.height %}height="{{ include.height }}"{% endif %}>
    <div class="caption">
        {{ include.caption | markdownify }}
    </div>
</div>