---
layout: page
title: Too Good to Go Log
---

{% for purchase in site.data.toogoodtogo %}
  {% if purchase.hidden == false %}
    <h2>{{ purchase.store_name }} on {{ purchase.date }}</h2>
    <div style="text-align:center;">
      <img src="/assets/toogoodtogo/{{ purchase.image }}" alt="{{ purchase.store_name }} on {{ purchase.date }}" width="500" />
    </div>
    <span><strong>Date:</strong> {{ purchase.date }}</span><br>
    <span><strong>Cost:</strong> {{ purchase.total.amount }} {{ purchase.total.currency }}</span><br>
    </span><br>
    {% if purchase.description %}<span><strong>Description:</strong> {{ purchase.description }}</span><br>{% endif %}
    {% if purchase.notes %}<span><strong>Notes:</strong> {{ purchase.notes }}</span><br>{% endif %}
    <hr>
  {% endif %}
{% endfor %}
